.accordion-button {
    background-color: #f8f8f8; /* Button background color */
    border: 2px solid #ddd; /* Button border */
    padding: 10px 20px; /* Button padding */
    cursor: pointer; 
    border-radius: 5px;
    width:default; 
  }

  .accordion-button:hover {
    background-color: #eee; /* Button hover effect */
  }

  .accordion-group.in .accordion-button {
    background-color: #ddd; 
  }
.button1{
  border: 2px solid #ddd; 
  margin-top:10px;
}
.container {
  display: flex; 
  justify-content: space-between; 
}

.inner-container {
  flex: 1; 
  margin: 30px; 
  border: 1px solid #ddd; 
  border-radius: 0.5rem; 
}

.inner-container form {
  width: 100%; 
}
 